@font-face {
	font-family: "Yekan";
	font-style: normal;
	font-weight: bold;
	src: url('assets/Woff/IRANYekanXFaNum-Bold.woff') format('woff'),   
	url('assets/Woff2/IRANYekanXFaNum-Regular.woff2') format('woff2');	 
}

@font-face {
	font-family: "Yekan";
	font-style: normal;
	font-weight: normal;
	src: url('assets/Woff/IRANYekanXFaNum-Regular.woff') format('woff'),   
	url('assets/Woff2/IRANYekanXFaNum-Regular.woff2') format('woff2');
}

*{
  text-decoration: none;
  list-style-type: none;
  font-family: "Yekan" !important;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};

.color{
	background-color: #0088ff;
}