.swiper-pagination-bullet {
  width: 30px;
  height: 6px;
  background-color: #0887c2;
  border-radius: 5px;
}

.swiper-pagination-bullet-active {
  background-color: rgb(59, 121, 220);
  width: 30px;
  height: 6px;
  opacity: 1;
  border-radius: 5px;
}

.swiper-container {
  width: 1475px;
  height: 305px;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
}

@media (max-width: 1536px) {
  .swiper-container {
    width: 96vw;
  }
}
@media (max-width: 900px) {
  .swiper-container {
    height: 200px;
  }
}
